In [1]:
import pandas as pd
import pandas_datareader as pdr
# 종목 타입에 따라 download url이 다름. 종목코드 뒤에 .KS .KQ등이 입력되어야해서 Download Link 구분 필요
stock_type = {
    'kospi': 'stockMkt',
    'kosdaq': 'kosdaqMkt'
    }
# 회사명으로 주식 종목 코드를 획득할 수 있도록 하는 함수
def get_code(df, name):
    code = df.query("name=='{}'".format(name))['code'].to_string(index=False)
    # 위와같이 code명을 가져오면 앞에 공백이 붙어있는 상황이 발생하여 앞뒤로 sript() 하여 공백 제거
    code = code.strip()
    return code
# download url 조합
def get_download_stock(market_type=None):
    market_type = stock_type[market_type]
    download_link = 'http://kind.krx.co.kr/corpgeneral/corpList.do'
    download_link = download_link + '?method=download'
    download_link = download_link + '&marketType=' + market_type
    df = pd.read_html(download_link, header=0)[0]
    return df;
# kospi 종목코드 목록 다운로드
def get_download_kospi():
    df = get_download_stock('kospi')
    df.종목코드 = df.종목코드.map('{:06d}.KS'.format)
    return df
# kosdaq 종목코드 목록 다운로드
def get_download_kosdaq():
    df = get_download_stock('kosdaq')
    df.종목코드 = df.종목코드.map('{:06d}.KQ'.format)
    return df
# kospi, kosdaq 종목코드 각각 다운로드
kospi_df = get_download_kospi()
kosdaq_df = get_download_kosdaq()
# data frame merge
code_df = pd.concat([kospi_df, kosdaq_df])
# data frame정리
code_df = code_df[['회사명', '종목코드']]
# data frame title 변경 '회사명' = name, 종목코드 = 'code'
code_df = code_df.rename(columns={'회사명': 'name', '종목코드': 'code'})
# 삼성전자의 종목코드 획득. data frame에는 이미 XXXXXX.KX 형태로 조합이 되어있음
code = get_code(code_df, '삼성전자')
# get_data_yahoo API를 통해서 yahho finance의 주식 종목 데이터를 가져온다.
df = pdr.get_data_yahoo(code)

C:\Users\Lincoln\Anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
df

               High      Low     Open    Close      Volume     Adj Close
Date
2015-02-10  28000.0  27540.0  28000.0  27560.0   6519350.0    267.268097
2015-02-11  27480.0  27080.0  27480.0  27100.0   9973800.0    262.807129
2015-02-12  27160.0  26620.0  26800.0  26880.0  10748200.0    260.673676
2015-02-13  27220.0  26900.0  27200.0  27220.0   6522900.0    263.970886
2015-02-16  27480.0  27220.0  27360.0  27480.0   6226500.0    266.492249
...             ...      ...      ...      ...         ...           ...
2020-02-03  57400.0  55200.0  55500.0  57200.0  23995260.0  57200.000000
2020-02-04  59000.0  56800.0  57100.0  58900.0  21800192.0  58900.000000
2020-02-05  60200.0  58900.0  60000.0  59500.0  19278165.0  59500.000000
2020-02-06  61100.0  59700.0  60100.0  61100.0  14727159.0  61100.000000
2020-02-07  61200.0  59700.0  61100.0  60400.0  16402493.0  60400.000000

[1213 rows x 6 columns]